* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}
.part1  {
    width: 100%;
    height: 695px;
    background-image: url('1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    top: 0;
    left: 0;
}
.header-container  {
    width: 1170px;
    height: 100%;
    margin: auto;
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bar  {
    display: block;
    width: 30px;
    height: 3px;
    background-color: #fff;
    margin: 4px;
    
}
.logo  {
    display: block;
    width: 100px;
    height: 70px;
   margin-top: 15px;
}
.logo img  {
    width: 100%;
}
.header {
    width: 100%;
    height: 100px;
    background-color: #303030;
}
.item  {
    display: inline-block;
    padding: 0;
    margin: 0;
    list-style: none;
}
.link  {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    font-size: 22px;
    margin: 0pc 15px;  
}
.search-box  {
    color: #fff;
    margin-bottom: 100px;
}
.search-box  i {
    position: absolute;
    font-size: 30px;
}
.search-box  i.fa-times {
    opacity: 0;
    pointer-events: none;
}
.search-box {
    position: relative;
    top: 40px;
    right: 40px;
}
.bg-container  {
    width: 1170px;
    height: 100%;
    margin: auto;
}
.bg-content  {
    display: block;
    position: absolute;
    top: 36%;
    left: 10%;
}
.bg-title  {
    color: #fff;
    font-size: 119px;
    font-weight: 400;
}
.bg-p  {
    color: #fff;
    font-size: 29px;
    font-weight: 300;
}
.bg-btn  {
    display: inline-block;
    font-size: 29px;
    padding: 10px 40px;
    border:2px solid #e8631c;
    border-radius: 5px;
    margin-top: 35px;
    color: #ffffff;
    background-color: #e8631c;
    text-decoration: none;
    
}
.part2 {
    width: 100%;
    min-height: 965px;
    background-color: #e8631c;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    top: 0;
    left: 0;
}
.part2-container  {
    padding: 60px 0px;
    width: 1170px;
    height: auto;
    margin: auto;
}
.part2-content  {
    width: 100%;
    height: auto;
    text-align: center;
}
.part2-title  {
    font-size: 55px;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 40px;
}
.part2-p  {
    font-size: 24px;
    color: #fff;
    margin-bottom: 40px;
}
.part2-card-container  {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;

}
.part2-card  {
    width: 305px;
    height: 455px;
    background-color: #303030;
    margin: 25px;
    transition: all 1s ease;
}
.part2-card-img-box  {
    width: 305px;
    height: 285px;
}
.part2-card-img  {
    width: 100%;
    height: 100%;
}
.part2-card-text  {
    text-align: center;
    padding: 20px 25px;
}
.part2-card-title  {
    margin-bottom: 10px;
    color: #fff;
    font-size: 36px;
    font-weight: 500;
}
.part2-card-p  {
    color: #fff;
    font-size: 18px;
}
.part3   {
    width: 100%;
    height: auto;
    background-color: #303030;  
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    top: 0;
    left: 0;
}
.part3-container   {
    width: 1170px;
    height: auto;
    margin: auto;
    padding: 60px 0px;
}
.part3-content   {
    width: 100%;
    height: auto;
    text-align: center;
}
.part3-title   {
    font-size: 55px;
    color: #fff;
    margin-bottom: 40px;
}
.part3-p   {
    font-size: 24px;
    color: #fff;
    margin-bottom: 40px;
}
.part3-card-container   {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}
.part3-card   {
    width: 300px;
    height: 440px;
    background-color: #e8631c;
    padding: 20px;
    border-radius: 10px;
    margin: 30px;
    transition: all 1s ease;
}
.part3-card-img-box   {
    width: 100%;
    height: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.part3-card-img   {
    width: 110px;
    height: 130px;
}
.part3-card-content   {
    width: 100%;
    height: auto;
    text-align: center;
}
.part3-card-title   {
    font-size: 30px;
    color: #fff;
    margin: 18px 0px;
}
.part3-card-p   {
    font-size: 22px;
    color: #fff;
    margin-bottom: 20px;
}
.part3-card-btn   {
    display: block;
    padding: 14px 100px;
    background-color: #303030;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
    font-size: 23px;
}
.part4   {
    width: 100%;
    height: auto;
    background-color: #e8631c;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    top: 0;
    left: 0;
}
.part4-container   {
    width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
}
.part4-img-box   {
    width: 50%;
    height: auto;
    float: left;
}
.part4-img-box img   {
    width: 100%;
}
.part4-content   {
    width: 50%;
    height: auto;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.part4-text-h   {
    font-size: 75px;
    color: #fff;
    margin-bottom: 40px;
}
.part4-text-p   {
    font-size: 29px;
    color: #fff;
    margin-bottom: 50px;
}
.part4-text-btn   {
    display: inline-block;
    padding: 10px 75px;
    border-radius: 2px;
    background-color: #303030;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}
.part5   {
    width: 100%;
   height: 100%;
    background-color: #e8631c;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    top: 0;
    left: 0;
}
.part5-container   {
    width: 100%;
    height: auto;
    margin: auto;
    display: flex;

}
.part5-content   {
    width: 50%;
    height: auto;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.part5-text-h   {
    font-size: 75px;
    color: #fff;
    margin-bottom: 40px;
}
.part5-text-p   {
    font-size: 29px;
    color: #fff;
    margin-bottom: 50px;
}
.part5-text-btn   {
    display: inline-block;
    padding: 10px 75px;
    border-radius: 2px;
    background-color: #303030;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}
.part5-img-box   {
    width: 50%;
    height: auto;
    
}
.part5-img-box img   {
    width: 100%;
}
.part6   {
    width: 100%;
    height: auto;
    background-color: #303030;
    color: #fff;
    padding: 100px 0px;
    position: relative;
    top: 0;
    left: 0;
}
.part6-container   {
    width: 90%;
    height: auto;
    margin: auto;
}
.part6-content   {
    text-align: center;
    padding: 60px 0px;
}
.part6-content-h   {
    font-size: 65px;
    margin-bottom: 50px;
}
.part6-content-p   {
    font-size: 29px;
}
.part6-card-container   {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.part6-card   {
    width: 300px;
    height: 200px;
    text-align: center;
    padding: 10px;
    margin: 20px;
}
.part6-card-h   {
    font-size: 56px;
    margin-bottom: 20px;
}
.part6-card-p   {
    font-size: 40px;
}
.part7   {
    width: 100%;
    height: 995px;
    
    background: rgba(217, 102, 8, 0.7)url("4.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    top: 0;
    left: 0;
}
.part7-container   {
    width: 90%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.part7-content   {
    text-align: center;
}
.part7-content-p   {
    font-size: 40px;
    color: #fff;
    margin-bottom: 40px;
}
.part7-content-h   {
    font-size: 50px;
    color: #fff;
    text-transform: uppercase;

}
.part8   {
    width: 100%;
    height: 580px;
    background-color: #e8631c;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    top: 0;
    left: 0;
}
.part8-container   {
    width: 90%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.part8-content   {
    text-align: center;
}
.part8-content-h   {
    font-size: 65px;
    color: #fff;
    font-weight: 700;
    margin-bottom: 40px;
}
.part8-content-p   {
    font-size: 29px;
    color: #fff;
    margin-bottom: 40px;
}
.part8-input-box   {
    display: flex;
    justify-content: center;
}
input[type="text"]   {
    width: 300px;
    height: 40px;
    padding: 0px 20px;
    outline: none;
    border: none;
    transition: all 1s ease;
}
::placeholder   {
    color: rgb(193, 190, 190);
}

.footer   {
    width: 100%;
    height: auto;
    background-color: #303030;
}
.footer-container   {
    width: 95%;
    height: auto;
    margin: auto;
    padding: 100px 0px;
}
.footer-row   {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 35% 20% 20% 15%;
    grid-template-rows: 320px;
    grid-gap: 10px;
}
.footer-h   {
    color: #fff;
    text-transform: uppercase;
    font-size: 30px;
    margin-bottom: 20px;
}
.footer-p   {
    color: #fff;
    font-size: 18px;
    margin-bottom: 30px;
}
.footer-social-icon   {
    display: flex;
}
.fab   {
    color: #000;
    font-size: 20px;
    margin: 0px 15px;
    width: 35px;
    height: 35px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s ease;
}
.footer-link   {
    display: block;
    text-decoration: none;
    color: #fff;
    margin: 10px 0px;
    font-size: 20px;
}